<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    {% if page.tagline %}
    <title>{{ page.title }} | {{ page.tagline }}</title>
    {% else %}
    <title>{{ page.title }}</title>
    {% endif %}
    <link rel="stylesheet" id="default-css" href="{{ ASSET_PATH }}/css/style.css" type="text/css" media="all" />

    <script type="text/javascript" src="{{ ASSET_PATH }}/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/js/jquery.cycle.all.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/js/jquery-ui.custom.min.js"></script>
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/flick/jquery-ui.custom.css" type="text/css" />

	<style type="text/css">
        .head-img .tagline { display:none; }
        .head-img img { width: 950px; border-radius: 8px; }
	</style>
	
	<!-- Highlight support -->
    <link href="{{ ASSET_PATH }}/css/highlight.css" rel="stylesheet">
    
    <!-- MathJax support -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          processEscapes: true
        }
      });
    </script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
          }
        });
    </script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Queue(function() {
            var all = MathJax.Hub.getAllJax(), i;
            for(i=0; i < all.length; i += 1) {
                all[i].SourceElement().parentNode.className += ' has-jax';
            }
        });
    </script>
    <script type="text/javascript"
       src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    
    <!-- Google Custom Search -->
    <script>
      (function() {
        var cx = '005512552974801634858:xtncfmg2jaq';
        var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
      })();
   </script>
   
   <!-- Slideshow -->
   <script type="text/javascript" charset="utf-8">/*<![CDATA[*/ 
    jQuery(document).ready(function() {
        jQuery(".slideshow").cycle({
          fx: "fade",
          timeout: 6000,
          pager: "#slideshow-nav",
          speed: 1000,
          pagerEvent: "click",
          pauseOnPagerHover: true,
          cleartypeNoBg: true });
      });
   /*]]>*/</script> 
    
  </head>

<body>
  <div class="content-pad">
    <div id="header">
      <div id="logo"><a href="{{ HOME_PATH }}">
        <img src="{{ ASSET_PATH }}/images/logo/logo.png" border="0" class="png" alt="怡然轩"></a>
      </div>
    </div>

    <div class="top">
      <div id="menu">	
        <ul id="nav-ie" class="topnav">
          <li class="page_item"><a href="{{ HOME_PATH }}" title="Home">主页</a></li>
          {% assign pages_list = site.pages %}
          {% assign group = 'navigation' %}
          {% include JB/pages_list %}
        </ul>
      </div>                
    </div> <!-- END top -->
    
    <div class="clear"></div>
    <div class="head-img">
      <div class="slideshow-bg module">
        <div class="slideshow">
          <div>
            <div class="tagline">Welcome to Delicate template</div>
            <img src="{{ ASSET_PATH }}/images/header/header.jpg" alt="Header">
          </div>
          <div>
            <div class="tagline">Just another WordPress site</div>
            <img src="{{ ASSET_PATH }}/images/header/headers.jpg" alt="Header">
          </div>  
        </div><!-- END Slideshow -->
        <div id="slideshow-nav"></div>
      </div><!-- END slideshow-bg -->
    </div><!-- END Header -->
    
    <div id="main">		
	  <div class="columns">	
        <div class="narrowcolumn singlepage no">
          {{ content }}
	    </div><!-- END Narrowcolumn -->

        <div id="sidebar" class="no">
          <ul>
            <li id="widget_search" class="widget">
              <gcse:searchbox-only></gcse:searchbox-only>
              <div style="clear:both;"></div>
            </li> 
            
            <li id="RSS" class="widget">
              <h2 class="blocktitle">订阅</h2>
              <ul>
                <li class="cat-item"><a href="{{ BASE_PATH }}/atom.xml">文章 RSS</a></li>
                <li class="cat-item"><a href="http://joyfulhomecn.disqus.com/latest.rss">评论 RSS</a></li>
              </ul>
            </li>
            
            <li id="summary_pages" class="widget">
              <h2 class="blocktitle">过往</h2>
              <ul>
                <li class="cat-item"><a href="{{ BASE_PATH }}/tags.html">标签云</a></li>
                <li class="cat-item"><a href="{{ BASE_PATH }}/categories.html">分类目录</a></li>
                <li class="cat-item"><a href="{{ BASE_PATH }}/archive.html">文章归档</a></li>
              </ul>
            </li>
            
            <li id="widget_categories" class="widget">
              <h2 class="blocktitle"><span>分类目录</span></h2>
                <ul>
                  {% for category in site.categories %} 
    	          <li class="cat-item"><a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category[0] }}-ref">
    		          {{ category[0] | join: "/" }}</a></li>
                  {% endfor %}
		        </ul>
            </li>
            
            <li id="linkcat-1" class="widget">
              <h2 class="blocktitle"><span>推荐链接</span></h2>
                <ul>
                  <li><a href="http://cos.name/" title="正直、专业的统计学网站">统计之都</a> 专业、人本、正直的统计学网站</li>
                </ul>
              </h2>
            </li>

            <li id="linkcat-2" class="widget">
              <h2 class="blocktitle"><span>良师益友</span></h2>
                <ul>
                  <li><a href="http://yihui.name/" title="neaRly god">谢老大</a> neaRly god</li>
                  <li><a href="http://www.bjt.name/" title="R+数据挖掘">bjt</a> R+数据挖掘</li>
                  <li><a href="http://yanping.me/" title="文艺技术青年">ypchen</a>  文艺技术青年</li>
                  <li><a href="http://blog.cos.name/fan/" title="有范儿:)">范师兄</a> 有范儿:)</li>
                  <li><a href="http://blog.cos.name/taiyun/" title="一片祥云">太云</a> 一片祥云</li>
                  <li><a href="http://www.cloudlychen.net/" title="Economics!">cloudly</a> Economics!</li>
                  <li><a href="http://dreamhunter.me/cn/" title="Dream Hunter">Weicheng</a> Dream Hunter</li>
                  <li><a href="http://yanlinlin82.vicp.net/blog/" title="Computer itself is entertainment">yanlinlin</a> Computer itself is entertainment</li>
                  <li><a href="http://www.road2stat.com/" title="promising[0]">肖楠</a> promising[0]</li>
                  <li><a href="http://www.gaotao.name/" title="promising[1]">高涛</a> promising[1]</li>
                  <li><a href="http://www.cheneylee.com/" title="promising[2]">李程</a> promising[2]</li>
                  <li><a href="http://yishuo.org/" title="Quantminds, Literature and Fantasy">一硕</a> Quantminds, Literature and Fantasy</li>
                  <li><a href="http://blog.sina.com.cn/cattyguan" title="如其名">关菁菁</a> 如其名</li>
                  <li><a href="http://www.blog496.org/" title="同窗">晓伟</a> 同窗</li>
                </ul>
            </li>
            
            <li id="linkcat-3" class="widget">
              <h2 class="blocktitle"><span>相逢何必曾相识</span></h2>
                <ul>
                  <li><a href="http://ichov.com/" title="奋斗，一个人的江湖">打渔樵夫</a> 奋斗，一个人的江湖</li>
                </ul>
              </h2>
            </li>
            
          </ul>
        </div><!-- END sidebar -->

        <div class="clear"></div>
        
        <div id="footer">
          <div class="lt">
            版权所有 © 2013 怡然轩 | 由 <a href="http://jekyllbootstrap.com/" title="Jekyll Bootstrap" rel="copyright">Jekyll Bootstrap</a> 和 <a href="http://pages.github.com/" title="GitHub Pages" rel="copyright">GitHub Pages</a> 构建
          </div>

          <div class="rt">主题修改自 <a href="http://wordpress.org/extend/themes/delicate" title="delicate" rel="copyright">delicate</a> <a href="http://www.nattywp.com/" title="NattyWP"><img src="{{ ASSET_PATH }}/images/natty-logo.png" width="82" height="17" valign="3px" class="png" alt="NattyWP" align="middle"></a>
          </div>		
          
          <div class="clear"></div>
        </div><!-- END footer -->

      </div> <!-- END Columns --> 
    </div><!-- END main -->
  </div><!-- END content-pad -->
  
  <div class="clear"></div>
  
</body>
</html>
